@use 'color' as col;

* {
    box-sizing: border-box;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

body {
    padding-top: 75px;
    background-color: col.$background__color_2;
}