.card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    &.left {
      flex-direction: row;
    }
  
    &.right {
      flex-direction: row-reverse;
    }
    @media (max-width: 640px) {
      &.left, &.right {
        flex-direction: column;
      }
    }
    
    img {
      height: auto;
      max-width: 100%;
    }
  
    .card-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      padding: 5px;
      width: 48%;
      max-width: 450px;
      height: 98%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      transition: transform var(--transition-duration, 1.5s) ease, opacity var(--transition-duration, 1.5s) ease;
  
      &.right {
        transform: scale(0.3) translateX(70%);
        opacity: 0;
      }

      &.left {
        transform: scale(0.3) translateX(-60%);
        opacity: 0;
      }
  
      &.in-view {
        transform: scale(1) translateX(0);
        opacity: 1;
      }
    }


    @media (max-width: 640px) {
  
      .card-item {
        max-width: 90%;
        min-width: 250px;

        &.text {
            transform: scale(0.3) translateY(80%);
            opacity: 0;
        }
    
        &.foto {
            transform: scale(0.3) translateY(-80%);
            opacity: 0;
        }
      
        &.in-view {
            transform: scale(1) translateY(0);
            opacity: 1;
        }
        
      }
    }
  }

