@use "color" as col;

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 60px;

  .text {
    h1 {
      color: col.$font__color_3;
      font-size: 2.2rem;
      font-weight: bold;
      text-align: center;
      // text-shadow: 2px 2px 0 col.$background__color_2;
    }
    p {
      color: col.$font__color_3;
      // background-color: rgba(col.$background__color_3, 0.3);
      border-radius: 12px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(12px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      font-size: 1.2rem;
      text-align: center;
      max-width: 80%;
      word-wrap: break-word;
      padding: 8px;
    }
  }

  &.left {
    flex-direction: row;
  }

  &.right {
    flex-direction: row-reverse;
  }
  @media (max-width: 740px) {
    .text {
      h1 {
        font-size: 2rem;
        max-width: 95%;
      }
      p {
        font-size: 1rem;
        text-align: center;
        max-width: 90%;
      }
    }
  }
  @media (max-width: 640px) {
    &.left,
    &.right {
      flex-direction: column;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
    border-radius: 12px;
  }

  .card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    width: 48%;
    max-width: 600px;
    height: 400px;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform var(--transition-duration, 1.5s) ease,
      opacity var(--transition-duration, 1.5s) ease;

    &.right {
      transform: scale(0.3) translateX(70%);
      opacity: 0;
    }

    &.left {
      transform: scale(0.3) translateX(-60%);
      opacity: 0;
    }

    &.in-view {
      transform: scale(1) translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 640px) {
    .card-item {
      width: 80%;
      max-width: 90%;
      min-width: 250px;

      &.text {
        transform: scale(0.3) translateY(80%);
        opacity: 0;
      }

      &.foto {
        transform: scale(0.3) translateY(-80%);
        opacity: 0;
      }

      &.in-view {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }
}
